In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from scipy.stats import linregress
import seaborn as sns
import numpy as np
from scipy.stats import sem
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#This is the full data frame with some extra columns removed
health_df = pd.read_csv("Resources/Provisional_COVID-19_Deaths_by_Sex_and_Age.csv")
health_df = health_df.drop(columns = ["Data As Of", "Start Date", "End Date", "Footnote"])
health_df.head()

,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
0,By Total,NaN,NaN,United States,All Sexes,All Ages,983409.0,7638997.0,865864.0,509298.0,10810.0,1349186.0
1,By Total,NaN,NaN,United States,All Sexes,Under 1 year,248.0,42516.0,524.0,31.0,28.0,768.0
2,By Total,NaN,NaN,United States,All Sexes,0-17 years,962.0,75444.0,1520.0,258.0,206.0,2427.0
3,By Total,NaN,NaN,United States,All Sexes,1-4 years,121.0,7931.0,306.0,30.0,70.0,467.0
4,By Total,NaN,NaN,United States,All Sexes,5-14 years,303.0,12627.0,439.0,98.0,84.0,727.0

In [3]:
#I have removed some random age groups
age_adjusted_df = health_df.loc[(health_df["Age Group"] != "40-49 years") &
                                (health_df["Age Group"] != "30-39 years") &
                                (health_df["Age Group"] != "18-29 years") &
                                (health_df["Age Group"] != "0-17 years") &
                                (health_df["Age Group"] != "50-64 years"), :]

In [14]:
#This data frame shows deaths by year, regardless of Month.
#You can pick 2020, 2021, or 2022
#This data frame can be sorted by State, Sex, and Age Group
#State: You can choose any of the 50 states, Puerto Rico, or the United States as a whole
#Sex: Male, Female, All Sexes
#Age Group:
    #All ages
    #Under 1 year
    #1-4 years old
    #5-14 years old
    #15-24 years old
    #25-34 years old
    #35-44 years old
    #45-54 years old
    #55-64 years old
    #65-74 years old
    #75-84 years old
    #85 years and over
year_df = age_adjusted_df.loc[health_df["Group"] == "By Year", :]
year_df = year_df.drop(columns = ["Month", "Group"])
year_df = year_df.replace("New York City", "New York")
year_df.head()

,Year,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
2754,2020.0,United States,All Sexes,All Ages,385480.0,3389057.0,351879.0,179994.0,8785.0,564999.0
2755,2020.0,United States,All Sexes,Under 1 year,52.0,19608.0,241.0,9.0,21.0,305.0
2757,2020.0,United States,All Sexes,1-4 years,25.0,3527.0,132.0,4.0,61.0,214.0
2758,2020.0,United States,All Sexes,5-14 years,69.0,5639.0,172.0,12.0,76.0,305.0
2759,2020.0,United States,All Sexes,15-24 years,616.0,35961.0,773.0,223.0,80.0,1241.0

In [15]:
year_df = year_df.rename(columns={"State":"state", "Year":"year", "COVID-19 Deaths":"deaths"})
year_states_df = year_df.loc[((year_df["year"] == 2021.0) & (year_df["state"] != "United States")), :]
year_states_df = year_states_df.drop(columns = ["Sex", "Age Group", "Total Deaths", "Pneumonia Deaths", 
                                                "Pneumonia and COVID-19 Deaths", "Influenza Deaths", 
                                                "Pneumonia, Influenza, or COVID-19 Deaths"])
year_states_df["year"] = year_states_df["year"].astype(str).str.slice(stop=4)
year_states_df = year_states_df.groupby(["state", "year"])["deaths"].sum()
covid_deaths_df = pd.DataFrame(year_states_df)
covid_deaths_df

                             deaths
state                year
Alabama              2021   38808.0
Alaska               2021    3320.0
Arizona              2021   56120.0
Arkansas             2021   21302.0
California           2021  192778.0
Colorado             2021   24696.0
Connecticut          2021   12568.0
Delaware             2021    5029.0
District of Columbia 2021    2793.0
Florida              2021  155159.0
Georgia              2021   69006.0
Hawaii               2021    2904.0
Idaho                2021   11111.0
Illinois             2021   47066.0
Indiana              2021   40128.0
Iowa                 2021   14066.0
Kansas               2021   15168.0
Kentucky             2021   34667.0
Louisiana            2021   27548.0
Maine                2021    5694.0
Maryland             2021   24330.0
Massachusetts        2021   22252.0
Michigan             2021   59548.0
Minnesota            2021   20633.0
Mississippi          2021   23596.0
Missouri             2021   35654.0
Montana              2021    7231.0
Nebraska             2021    7736.0
Nevada               2021   22547.0
New Hampshire        2021    4770.0
New Jersey           2021   38255.0
New Mexico           2021   14614.0
New York             2021   95196.0
North Carolina       2021   60688.0
North Dakota         2021    3731.0
Ohio                 2021   81886.0
Oklahoma             2021   31182.0
Oregon               2021   16614.0
Pennsylvania         2021   82006.0
Puerto Rico          2021    6538.0
Rhode Island         2021    4812.0
South Carolina       2021   37880.0
South Dakota         2021    3923.0
Tennessee            2021   54582.0
Texas                2021  194842.0
Utah                 2021   10636.0
Vermont              2021    1225.0
Virginia             2021   37860.0
Washington           2021   24552.0
West Virginia        2021   15446.0
Wisconsin            2021   24231.0
Wyoming              2021    3829.0

In [10]:
states_df = pd.read_csv("Resources/us-states.csv")
states_df["date"] = states_df["date"].astype(str).str.slice(stop=4)
all_states_df = states_df.loc[(states_df["date"] == "2021"), :]
all_states_df = all_states_df.groupby(["state", "date"])["cases", "deaths"].sum()
all_states_df.head()

cases_by_state_df_1=all_states_df.reset_index()
cases_by_state_df_1.set_index("state",inplace=True)
cases_by_state_df = cases_by_state_df_1[['date',"cases"]].copy()
cases_by_state_df = cases_by_state_df.rename(columns={"date":"year"})
cases_by_state_df.head()

/var/folders/2m/3btzbqcn15d143__kkvb77f80000gn/T/ipykernel_75233/14057361.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  all_states_df = all_states_df.groupby(["state", "date"])["cases", "deaths"].sum()

                year      cases
state
Alabama         2021  227783813
Alaska          2021   31953929
American Samoa  2021        563
Arizona         2021  350481384
Arkansas        2021  144787513

In [9]:
year_df = year_df.rename(columns=({"Pneumonia Deaths":"pneumonia_deaths"}))
year_states_df = year_df.loc[((year_df["year"] == 2021.0) & (year_df["state"] != "United States")), :]
pna_states_df = year_states_df.drop(columns = ["Sex", "Age Group", "Total Deaths","deaths", 
                                               "Pneumonia and COVID-19 Deaths", "Influenza Deaths", 
                                               "Pneumonia, Influenza, or COVID-19 Deaths"])
pna_states_df["year"] = pna_states_df["year"].astype(str).str.slice(stop=4)
pna_states_df = pna_states_df.groupby(["state", "year"])["pneumonia_deaths"].sum()
pna_states_df = pd.DataFrame(pna_states_df)
pna_states_df

                           pneumonia_deaths
state                year
Alabama              2021           25370.0
Alaska               2021            2634.0
Arizona              2021           47760.0
Arkansas             2021           19111.0
California           2021          183163.0
Colorado             2021           21465.0
Connecticut          2021           11135.0
Delaware             2021            4564.0
District of Columbia 2021            3184.0
Florida              2021          155777.0
Georgia              2021           55507.0
Hawaii               2021            4343.0
Idaho                2021            8625.0
Illinois             2021           48791.0
Indiana              2021           37934.0
Iowa                 2021           12110.0
Kansas               2021           12602.0
Kentucky             2021           34010.0
Louisiana            2021           22544.0
Maine                2021            5067.0
Maryland             2021           22743.0
Massachusetts        2021           23125.0
Michigan             2021           52266.0
Minnesota            2021           17946.0
Mississippi          2021           21739.0
Missouri             2021           31572.0
Montana              2021            5939.0
Nebraska             2021            7856.0
Nevada               2021           23684.0
New Hampshire        2021            4173.0
New Jersey           2021           34396.0
New Mexico           2021           12588.0
New York             2021           81437.0
North Carolina       2021           57042.0
North Dakota         2021            4194.0
Ohio                 2021           67787.0
Oklahoma             2021           25983.0
Oregon               2021           12888.0
Pennsylvania         2021           65298.0
Puerto Rico          2021           17683.0
Rhode Island         2021            4099.0
South Carolina       2021           25956.0
South Dakota         2021            4308.0
Tennessee            2021           49266.0
Texas                2021          165387.0
Utah                 2021            9024.0
Vermont              2021            1539.0
Virginia             2021           30192.0
Washington           2021           27147.0
West Virginia        2021           15100.0
Wisconsin            2021           18617.0
Wyoming              2021            3209.0

In [16]:
year_states_df = year_df.loc[((health_df["Year"] == 2021.0) & (health_df["State"] != "United States")), :]
#year_states_df = year_states_df.drop(columns = ["Sex", "Age Group", "Total Deaths", "Pneumonia Deaths", 
                                               # "Pneumonia and COVID-19 Deaths", "Influenza Deaths", 
                                                #"Pneumonia, Influenza, or COVID-19 Deaths"])
year_states_df["year"] = year_states_df["year"].astype(str).str.slice(stop=4)
year_states_df = year_states_df.groupby(["state", "year"])['Influenza Deaths'].sum()
flu_deaths_df = pd.DataFrame(year_states_df)
flu_deaths_df = flu_deaths_df.rename(columns= {'Influenza Deaths' : 'flu_deaths'})

#all_states_df["Year"] = all_states_df["Year"].astype(str)
flu_deaths_df.head()

/var/folders/2m/3btzbqcn15d143__kkvb77f80000gn/T/ipykernel_75233/2162467003.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_states_df["year"] = year_states_df["year"].astype(str).str.slice(stop=4)

                 flu_deaths
state      year
Alabama    2021        83.0
Alaska     2021         0.0
Arizona    2021        31.0
Arkansas   2021        15.0
California 2021       147.0

In [19]:
connection_string = "postgres:postgres@localhost:5432/covid_db"
engine = create_engine(f'postgresql://{connection_string}')

In [20]:
engine.table_names()

/var/folders/2m/3btzbqcn15d143__kkvb77f80000gn/T/ipykernel_75233/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['covid_deaths', 'flu_deaths', 'cases', 'pna_deaths', 'covid_cases']

In [21]:
covid_deaths_df.to_sql(name='covid_deaths', con=engine, if_exists='append', index=True)
cases_by_state_df.to_sql(name='covid_cases', con=engine, if_exists='append', index=True)
pna_states_df.to_sql(name='pna_deaths', con=engine, if_exists='append', index=True)
flu_deaths_df.to_sql(name='flu_deaths', con=engine, if_exists='append', index=True)